.wrap {
    width: 900px;

    margin: 30px auto;
    clear: left;
}
.menu {
    /*width: 150px;*/
    min-width: 150px;
    padding: 5px 10px;
    float: left;
}
.content {
    background: #F7F7F7;
    border: 1px solid #CCCCCC;
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    border: 1px solid #AAAAAA;
    background: #FCFCFC;

}

th, td {
    border: 1px solid #AAAAAA;
    padding: 3px;
}

tr:hover {
    background: #F7F7F7;
}


a {
    text-decoration: none;
    color: darkblue;
}

a:hover {
    color: #0000DD;
    text-decoration: underline;
}