.wrap {
    width: 900px;
    margin: 30px auto;
    clear: left;
}
.menu {
    min-width: 150px;
    padding: 5px 10px;
    float: left;
    text-align: center;
}
.content {
    background: #F7F7F7;
    border: 1px solid #CCCCCC;
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;

   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

table.result {
    border-collapse: collapse;
    border: 1px solid #AAAAAA;
    background: #FCFCFC;
}
table.result td,
table.result th {
    border: 1px solid #AAAAAA;
    padding: 3px;
}
table.result tr:hover {
    background: #fffaf5;
}

a {
    text-decoration: none;
    color: darkblue;
}

a:hover {
    color: #0000DD;
    text-decoration: underline;
}